/*

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com

*/

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

hr {
    max-width: 130px;
    border-width: 6px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #9c27b0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    line-height: 1.7;
    margin-bottom: 20px;
}



#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    color: #000000;
}

.btn.btn-primary {
    background-color: #A9A9A9;
    border:3px solid #000000;
    font-family: 'Dancing Script', cursive;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-xl {
    padding: 15px;
}

#header-content {
    position: relative;
    text-align: center;
    z-index: 2;
    width: auto;
    height: auto;

}

@media (max-width: 600px) {

  #header-content {
      margin-top: 20%;
  }


  #zero.col-xs-12{
    font-size: 60px;
    margin-top: -10%;
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    color: #6F36E8;
  }


  #desc.col-xs-12{
    font-size: 24px;
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #FFEC94;
  }

  #one.col-xs-6{
    text-align: right;
  }
  #two.col-xs-6{
    text-align: left;
  }

  a {
      font-size: 25px;
  }
}
@media (min-width: 600px) {

  #header-content {
      margin-top: 5%;
  }

  #desc.col-xs-12{
    font-size: 40px;
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #FFEC94;
  }

  #zero.col-lg-12{
    font-size: 120px;
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    color: #6F36E8;
  }

  #one.col-lg-6{
    text-align: right;
  }
  #two.col-lg-6{
    text-align: left;
  }

  a {
      font-size: 30px;
  }

}
